.container {
  margin: 20px 20px;
  text-align: center;

}


#title{
  margin-top: 60px;
  font-weight: 400;
  color: #000000;
  font-family: sans-serif;
  font-kerning: normal;
  font-stretch: semi-expanded;
  letter-spacing: 3px;
}

/* The navigation bar */
.navbar {
    overflow: hidden;
    background-color: #511572;
    position: fixed; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
    width: 100%; /* Full width */
}

/* Links inside the navbar */
.navbar a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-weight: 200;
    color: #ffffff;
    font-family: sans-serif;
    font-kerning: none;
}

/* Change background on mouse-over */
.navbar a:hover {
    background: #ddd;
    color: black;
}



.grid-container {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: auto auto;
  background-color: #bf8edb;
  padding: 10px;
  /* list-style: none;
  display: grid;
  grid-template-columns: repeat(auto-fill,minmax(600px, 1fr)); */

}

.grid-container > div {
  background-color: #ffffff;
  border: none;
  padding: 50px;
  text-align: center;
  font-weight: 200;
  color: #000000;
  font-family: sans-serif;
  font-kerning: none;
  letter-spacing: 0px;
}

.item1 {
  grid-column: 1 / 2;
  grid-row: 1 / 4;
}
#box1{
  font-weight: 50;
  color: #000000;
  font-family: sans-serif;
  font-kerning: normal;
  font-stretch: semi-expanded;
  letter-spacing: 3px;
}
input[type=text] {
    border: none;
    border-bottom: 2px;
    border-bottom-color: #9429d1;
    background-color: #f1f1f1;

}

.item2 {
  grid-column: 2 / 3;
  grid-row: 1 / 4;
}

#box2{
  font-weight: 50;
  color: #000000;
  font-family: sans-serif;
  font-kerning: normal;
  font-stretch: semi-expanded;
  letter-spacing: 3px;
}


.item3 {
  grid-column: 1 / 3;
  grid-row: 4 / 6;
}
#box3{
  font-weight: 50;
  color: #000000;
  font-family: sans-serif;
  font-kerning: normal;
  font-stretch: semi-expanded;
  letter-spacing: 3px;
}

@media only screen and (max-width: 500px) {
  .item1 { grid-area: 1 / 1 / 2 / 4; }
  .item2 { grid-area: 2 / 1 / 3 / 4; }
  .item3 { grid-area: 3 / 1 / 4 / 4; }
}
